<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunlong.platform.dao.MetadataFieldModelMapper" >
	<resultMap id="BaseResultMap" type="com.kunlong.platform.domain.MetadataFieldModel" >
	    <id column="field_id" property="fieldId" jdbcType="INTEGER" />	
	  	<result column="metadata_id" property="metadataId" jdbcType="INTEGER" />
	  	<result column="field_order" property="fieldOrder" jdbcType="SMALLINT" />
	  	<result column="field_name" property="fieldName" jdbcType="VARCHAR" />
	  	<result column="field_memo" property="fieldMemo" jdbcType="VARCHAR" />
	  	<result column="field_type" property="fieldType" jdbcType="VARCHAR" />
	  	<result column="field_pk" property="fieldPk" jdbcType="BIT" />
	  	<result column="field_auto" property="fieldAuto" jdbcType="BIT" />
	  	<result column="field_visible" property="fieldVisible" jdbcType="BIT" />
	  	<result column="field_size" property="fieldSize" jdbcType="INTEGER" />
	  	<result column="field_displaysize" property="fieldDisplaysize" jdbcType="INTEGER" />
	  	<result column="field_readonly" property="fieldReadonly" jdbcType="BIT" />
	  	<result column="field_default" property="fieldDefault" jdbcType="VARCHAR" />
	  	<result column="field_src" property="fieldSrc" jdbcType="INTEGER" />
	  	<result column="ref_object" property="refObject" jdbcType="VARCHAR" />
	  	<result column="ref_parameter" property="refParameter" jdbcType="VARCHAR" />
	  	<result column="ref_field" property="refField" jdbcType="VARCHAR" />
	  	<result column="ref_displayID" property="refDisplayID" jdbcType="VARCHAR" />
	  	<result column="ref_filter" property="refFilter" jdbcType="VARCHAR" />
	  	<result column="field_iscal" property="fieldIscal" jdbcType="BIT" />
	  	<result column="field_remark" property="fieldRemark" jdbcType="VARCHAR" />
	  	<result column="field_isNull" property="fieldIsNull" jdbcType="BIT" />
	  	<result column="ref_table" property="refTable" jdbcType="VARCHAR" />
	  	<result column="field_format" property="fieldFormat" jdbcType="VARCHAR" />
	  	<result column="field_component" property="fieldComponent" jdbcType="INTEGER" />
	  	<result column="ref_pool" property="refPool" jdbcType="VARCHAR" />
	  	<result column="field_min" property="fieldMin" jdbcType="VARCHAR" />
	  	<result column="field_max" property="fieldMax" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="BaseResultMap_MetadataFieldModel" type="com.kunlong.platform.domain.MetadataFieldModel" >
	    <id column="mf_field_id" property="fieldId" jdbcType="INTEGER" />	
	  	<result column="mf_metadata_id" property="metadataId" jdbcType="INTEGER" />
	  	<result column="mf_field_order" property="fieldOrder" jdbcType="SMALLINT" />
	  	<result column="mf_field_name" property="fieldName" jdbcType="VARCHAR" />
	  	<result column="mf_field_memo" property="fieldMemo" jdbcType="VARCHAR" />
	  	<result column="mf_field_type" property="fieldType" jdbcType="VARCHAR" />
	  	<result column="mf_field_pk" property="fieldPk" jdbcType="BIT" />
	  	<result column="mf_field_auto" property="fieldAuto" jdbcType="BIT" />
	  	<result column="mf_field_visible" property="fieldVisible" jdbcType="BIT" />
	  	<result column="mf_field_size" property="fieldSize" jdbcType="INTEGER" />
	  	<result column="mf_field_displaysize" property="fieldDisplaysize" jdbcType="INTEGER" />
	  	<result column="mf_field_readonly" property="fieldReadonly" jdbcType="BIT" />
	  	<result column="mf_field_default" property="fieldDefault" jdbcType="VARCHAR" />
	  	<result column="mf_field_src" property="fieldSrc" jdbcType="INTEGER" />
	  	<result column="mf_ref_object" property="refObject" jdbcType="VARCHAR" />
	  	<result column="mf_ref_parameter" property="refParameter" jdbcType="VARCHAR" />
	  	<result column="mf_ref_field" property="refField" jdbcType="VARCHAR" />
	  	<result column="mf_ref_displayID" property="refDisplayID" jdbcType="VARCHAR" />
	  	<result column="mf_ref_filter" property="refFilter" jdbcType="VARCHAR" />
	  	<result column="mf_field_iscal" property="fieldIscal" jdbcType="BIT" />
	  	<result column="mf_field_remark" property="fieldRemark" jdbcType="VARCHAR" />
	  	<result column="mf_field_isNull" property="fieldIsNull" jdbcType="BIT" />
	  	<result column="mf_ref_table" property="refTable" jdbcType="VARCHAR" />
	  	<result column="mf_field_format" property="fieldFormat" jdbcType="VARCHAR" />
	  	<result column="mf_field_component" property="fieldComponent" jdbcType="INTEGER" />
	  	<result column="mf_ref_pool" property="refPool" jdbcType="VARCHAR" />
	  	<result column="mf_field_min" property="fieldMin" jdbcType="VARCHAR" />
	  	<result column="mf_field_max" property="fieldMax" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
  		field_id,metadata_id,field_order,field_name,field_memo,field_type,field_pk,field_auto,field_visible,field_size,field_displaysize,field_readonly,field_default,field_src,ref_object,ref_parameter,ref_field,ref_displayID,ref_filter,field_iscal,field_remark,field_isNull,ref_table,field_format,field_component,ref_pool,field_min,field_max
	</sql>
  	<sql id="Base_Column_List_MetadataFieldModel" >
  		mf.field_id mf_field_id,mf.metadata_id mf_metadata_id,mf.field_order mf_field_order,mf.field_name mf_field_name,mf.field_memo mf_field_memo,mf.field_type mf_field_type,mf.field_pk mf_field_pk,mf.field_auto mf_field_auto,mf.field_visible mf_field_visible,mf.field_size mf_field_size,mf.field_displaysize mf_field_displaysize,mf.field_readonly mf_field_readonly,mf.field_default mf_field_default,mf.field_src mf_field_src,mf.ref_object mf_ref_object,mf.ref_parameter mf_ref_parameter,mf.ref_field mf_ref_field,mf.ref_displayID mf_ref_displayID,mf.ref_filter mf_ref_filter,mf.field_iscal mf_field_iscal,mf.field_remark mf_field_remark,mf.field_isNull mf_field_isNull,mf.ref_table mf_ref_table,mf.field_format mf_field_format,mf.field_component mf_field_component,mf.ref_pool mf_ref_pool,mf.field_min mf_field_min,mf.field_max mf_field_max
	</sql>
	
	<!-- 系统自定义 -->
	<!-- 实体参数查询结果[START] -->
	<resultMap id="ResultMap_FindByQueryParam" type="com.kunlong.platform.domain.MetadataFieldModel" extends="BaseResultMap_MetadataFieldModel">
		
	</resultMap>

	<sql id="Condition_FindByQueryParam">
		<if test="queryParam.param!=null">
			<bind name="p" value="queryParam.param"/>
			<if test="p.fieldId!=null ">
		    	and mf.field_id=#{p.fieldId}
		    </if>
			<if test="p.metadataId!=null ">
		    	and mf.metadata_id=#{p.metadataId}
		    </if>
			<if test="p.fieldOrder!=null ">
		    	and mf.field_order=#{p.fieldOrder}
		    </if>
			<if test="p.fieldName!=null and p.fieldName!=''">
		    	and mf.field_name like #{p.fieldName}
		    </if>
			<if test="p.fieldMemo!=null and p.fieldMemo!=''">
		    	and mf.field_memo like #{p.fieldMemo}
		    </if>
			<if test="p.fieldType!=null and p.fieldType!=''">
		    	and mf.field_type like #{p.fieldType}
		    </if>
			<if test="p.fieldPk!=null ">
		    	and mf.field_pk=#{p.fieldPk}
		    </if>
			<if test="p.fieldAuto!=null ">
		    	and mf.field_auto=#{p.fieldAuto}
		    </if>
			<if test="p.fieldVisible!=null ">
		    	and mf.field_visible=#{p.fieldVisible}
		    </if>
			<if test="p.fieldSize!=null ">
		    	and mf.field_size=#{p.fieldSize}
		    </if>
			<if test="p.fieldDisplaysize!=null ">
		    	and mf.field_displaysize=#{p.fieldDisplaysize}
		    </if>
			<if test="p.fieldReadonly!=null ">
		    	and mf.field_readonly=#{p.fieldReadonly}
		    </if>
			<if test="p.fieldDefault!=null and p.fieldDefault!=''">
		    	and mf.field_default like #{p.fieldDefault}
		    </if>
			<if test="p.fieldSrc!=null ">
		    	and mf.field_src=#{p.fieldSrc}
		    </if>
			<if test="p.refObject!=null and p.refObject!=''">
		    	and mf.ref_object like #{p.refObject}
		    </if>
			<if test="p.refParameter!=null and p.refParameter!=''">
		    	and mf.ref_parameter like #{p.refParameter}
		    </if>
			<if test="p.refField!=null and p.refField!=''">
		    	and mf.ref_field like #{p.refField}
		    </if>
			<if test="p.refDisplayID!=null and p.refDisplayID!=''">
		    	and mf.ref_displayID like #{p.refDisplayID}
		    </if>
			<if test="p.refFilter!=null and p.refFilter!=''">
		    	and mf.ref_filter like #{p.refFilter}
		    </if>
			<if test="p.fieldIscal!=null ">
		    	and mf.field_iscal=#{p.fieldIscal}
		    </if>
			<if test="p.fieldRemark!=null and p.fieldRemark!=''">
		    	and mf.field_remark like #{p.fieldRemark}
		    </if>
			<if test="p.fieldIsNull!=null ">
		    	and mf.field_isNull=#{p.fieldIsNull}
		    </if>
			<if test="p.refTable!=null and p.refTable!=''">
		    	and mf.ref_table like #{p.refTable}
		    </if>
			<if test="p.fieldFormat!=null and p.fieldFormat!=''">
		    	and mf.field_format like #{p.fieldFormat}
		    </if>
			<if test="p.fieldComponent!=null ">
		    	and mf.field_component=#{p.fieldComponent}
		    </if>
			<if test="p.refPool!=null and p.refPool!=''">
		    	and mf.ref_pool like #{p.refPool}
		    </if>
			<if test="p.fieldMin!=null and p.fieldMin!=''">
		    	and mf.field_min like #{p.fieldMin}
		    </if>
			<if test="p.fieldMax!=null and p.fieldMax!=''">
		    	and mf.field_max like #{p.fieldMax}
		    </if>
		</if>
		<!--
		<bind name="rp" value="queryParam.ruleParam" />
		<include refid="org.mybatis.hbatis.orm.mapper.HbatisMapper.RuleParam"/>
		-->
	</sql>
	<select id="findByQueryParam" resultMap="ResultMap_FindByQueryParam">
		select
		<include refid="Base_Column_List_MetadataFieldModel"></include>
		from metadata_field mf where 1=1
		<include refid="Condition_FindByQueryParam"></include>
		<if test="queryParam.sortOrders!=null and queryParam.sortOrders.size() gt 0">
			order by
			<foreach collection="queryParam.sortOrders" item="item" separator=",">
				${item.sortField.sqlColumn} ${item.sortType}
			</foreach>
		</if>
		order by metadata_id,field_order
		<if test="queryParam.limit gt 0">
	  		limit ${queryParam.start},${queryParam.limit}
	  	</if>
	</select>
	<select id="countByQueryParam" resultType="long">
		select count(1) from metadata_field mf where 1=1
		<include refid="Condition_FindByQueryParam"></include>
	</select>
	
	<!-- 实体参数查询结果[END] -->
	<!-- 用户自定义 -->
	
</mapper>